/* *{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 450px;
    width: 350px;
    margin: 50px auto;
    border: 5px solid black;
    padding: 10px;
    text-align: center;
    position: relative;
}

.play-section{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 360px;
}

input{
    width: 300px;
    cursor: pointer;
}

.btns{
    margin: 5px;
    padding: 5px;
}

button{
    cursor: pointer;
    background-color: none;
    border: 0;
}

i{
    font-size: 1.4rem;
    padding: 10px;
}

.song-item{
    width: 60%;
    border: 1px solid maroon;
    margin: 10px auto;
    border-radius: 15px;
    cursor: pointer;
}

.song-item:hover{
    cursor: pointer;
    background-color: rgba(128, 0, 0, 0.534);
}












 */
