
/* p{
    font-size: 40px;
} */

/* section{
    width:  400px;
    height: 400px;
    background-color: blueviolet;
}

div{
    width: 50%;
    height: 50%;
    background-color: brown;
} */
    /* em -> 2 time of parent but rem is 2 times of html(dfault) */
ul>li{
    font-size: 2em; 
    font-size: 2rem;
}

 /* vw -> view width and vh view heigth */
  *{
    padding: 0;
    margin: 0;
  }
 div{
    background-color: chartreuse;
    width: 50vw;
    height: 50vh;
 }
 
 